[Unit]
Description=AutoBuildMCP Server
After=network.target

[Service]
ExecStart=__WORKING_DIRECTORY__/run.sh
WorkingDirectory=__WORKING_DIRECTORY__
Restart=always
User=__USER__
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
